h1 {
    background-color: green;
}
button {
    background-color: gray;
}
button:hover{
    background-color: yellow;
}
a:visited {
    color: thistle;
}
li:nth-child(4) {
    color: orangered;
    background-color: greenyellow;
}
span {
    color: ghostwhite;
}